@keyframes hop-lock-and-drop {
  40% {
    transform: translateY(-6px);
  }

  90% {
    transform: initial;
  }
}

.dot {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dot1 {
  background-color: hsl(114, 35%, 75%);
  animation: 1000ms ease-in-out 500ms infinite grow-shrink;
}

.dot2 {
  background-color: hsl(114, 35%, 52%);
  animation: 1000ms ease-in-out infinite grow-shrink2;
  position: absolute;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow-shrink2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
