.decimal-input {
  input {
    border: none;
  }
  &.align-left {
    input {
      text-align: left;
    }
  }
  &.align-center {
    input {
      text-align: center;
    }
  }
  &.align-right {
    input {
      text-align: right;
    }
  }
}
