.base {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.horizontal {
  @extend .base;
  margin-bottom: 2rem;

  & > div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  & > :first-child {
    margin-left: 0;
  }

  & > :last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.vertical {
  @extend .base;
  flex-direction: column;
  margin-bottom: 0;

  & > div {
    margin-bottom: 2rem;
  }

  // & > :last-child {
  //   margin-bottom: 0;
  // }
}
