.FloatingLabelWrapper {
  input,
  textarea {
    border: none;
    font-size: var(--default-font-size);
  }

  input {
    padding: 12px 10px;
  }

  label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 100ms ease all;
    border-radius: none;
    line-height: 100%;
  }

  &.GenericInput,
  &.ContrastInput {
    .inputWrapper {
      min-height: 40px;

      input {
        &:focus ~ .bar:before {
          width: 100%;
        }
      }

      &.error {
        &,
        input {
          background-color: var(--red-100);
          color: var(--red-500);
        }

        .bar {
          &:before {
            background: var(--red-500);
          }
        }
      }
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;

      &:before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: var(--primary-green);
        transition: 150ms ease all;
      }

      &.focused:before {
        width: 100%;
      }
    }
  }

  &.GenericInput {
    .inputWrapper {
      $defaultBackground: var(--true-white);

      position: relative;
      width: 100%;
      display: block;
      border-radius: var(--default-border-radius);
      border: 1px solid var(--divider-grey);
      background-color: $defaultBackground;

      input {
        background-color: $defaultBackground;
        width: 100%;
        height: 100%;
        border-radius: var(--default-border-radius);
      }
    }

    &.inverted {
      .inputWrapper {
        $invertedBackground: var(--dark-black);
        background-color: $invertedBackground;

        input {
          background-color: $invertedBackground;
        }
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      -webkit-appearance: none;
    }

    input[type="password"] {
      letter-spacing: 0.2rem;
    }

    label {
      color: var(--grey-600);

      &.FloatedLabel {
        top: 0;
        font-size: 12px;
        color: var(--grey-600);
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }

  &.ContrastInput {
    .inputWrapper {
      $contrastBackground: var(--grey-300);

      position: relative;

      width: 100%;
      display: block;
      border-radius: var(--default-border-radius);
      border: none;
      background-color: $contrastBackground;

      input {
        background-color: $contrastBackground;
        width: 100%;
        height: 100%;
        border-radius: var(--default-border-radius);
        padding: 18px 10px 5px 10px;
      }
    }

    .noLabelInputWrapper {
      $contrastBackground: var(--grey-300);

      position: relative;

      width: 100%;
      display: block;
      border-radius: var(--default-border-radius);
      border: none;
      background-color: $contrastBackground;

      input {
        background-color: $contrastBackground;
        width: 100%;
        height: 100%;
        border-radius: var(--default-border-radius);
        padding-top: 11px;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      -webkit-appearance: none;
    }

    input[type="password"] {
      letter-spacing: 0.2rem;
    }

    label {
      background-color: transparent;
      color: var(--grey-800);
      top: 50%;
      transform: translateY(-50%);

      &.FloatedLabel {
        top: 10px;
        font-size: 12px;
      }
    }
  }
}
