.CardVertical {
  display: flex;
  flex-direction: column;
  background-color: var(--true-white);
  border-radius: var(--default-border-radius);

  img {
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
  }
}

.CardAction {
  color: var(--grey-600);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  transition: 100ms ease-in;

  &:hover {
    color: var(--grey-800);
  }

  .VerticalCard & {
    margin-right: 1rem;
  }
}
