.CardHorizontal {
  // display: flex;
  padding: 1rem;
  background-color: var(--true-white);
  border-radius: var(--default-border-radius);
}

.CardHorizontalImage {
  max-width: 150px;
  max-height: 150px;
}

.CardAction {
  transition: 100ms ease-in;

  &:hover {
    color: var(--grey-800);
  }

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}
