.CohubBackdrop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .closeButton {
    top: -25px;
    right: -37px;
    cursor: pointer;
  }
}
