.MultiselectField {
  position: relative;
  width: 100%;

  &.GenericInput {
    >div {
      background: none;
      color: var(--black-500);
      display: block;
      width: 100%;
      border-radius: 4px;
      border: 1px solid var(--grey-200);
      height: 100%;
    }
  }

  &.ContrastInput {
    >div {
      background: none;
      color: var(--black-500);
      display: block;
      width: 100%;
      border-radius: 4px;
      border: 1px solid var(--grey-200);
      height: 100%;
      min-height: 49px;
    }
  }
}