.CohubChip {
  user-select: none;

  .clickable {

    &:hover,
    &:focus {
      transform: translate(0, -1px) !important;
      // box-shadow: 0 0 3px rgba(34, 32, 32, 0.8) !important;
    }

    &:focus {
      background-color: inherit !important;
    }
  }
}