.uh-uh-shake {
  animation: errorShake 0.2s linear;
}

@keyframes errorShake {
  0% {
    transform: translate(-15px);
  }
  50% {
    transform: translate(15px);
  }
  100% {
    transform: translate(0px);
  }
}
