@font-face {
  font-family: "Akkurat-Mono";
  src: url(../assets/fonts/AkkuratMono/AkkMo___.ttf) format("truetype"),
    url(../assets/fonts/AkkuratMono/AkkMoE__.ttf) format("truetype");
}

@import url("https://use.typekit.net/hpb8lqb.css");

@import url("https://rsms.me/inter/inter.css");

@import "animations";

html,
input {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-weight: 300;
  font-size: var(--default-font-size);
  color: hsl(0, 3%, 7%);
}

/* Override browser focus ring color */
:focus {
  outline: none !important;
}

ul {
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-weight: 300;
  font-feature-settings: "tnum" 1;
}

::placeholder {
  letter-spacing: initial;
  font-weight: normal;
  color: var(--grey-700);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
