.ui.form .GenericTextArea input,
.GenericTextArea {
  font-family: var(--default-font-family) !important;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  transition: all 100ms ease;
}
