.Tooltip,
.tippy-tooltip {
  box-shadow: var(--dp-3);

  &.dark-theme {
    background-color: var(--black-500);
    color: var(--grey-200);

    &[data-animatefill] {
      background-color: transparent;
    }

    .tippy-backdrop {
      background-color: var(--black-500);
    }
  }

  &.light-theme {
    background-color: var(--true-white);
    color: var(--black-500);

    &[data-animatefill] {
      background-color: transparent;
    }

    .tippy-backdrop {
      background-color: var(--true-white);
    }
  }
}

// Arrow styling
.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right: 7px solid var(--true-white);
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left: 7px solid var(--true-white);
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top: 7px solid var(--true-white);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom: 7px solid var(--true-white);
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dark-theme .tippy-arrow {
  border-right: 7px solid var(--black-500);
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dark-theme .tippy-arrow {
  border-left: 7px solid var(--black-500);
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dark-theme .tippy-arrow {
  border-top: 7px solid var(--black-500);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dark-theme .tippy-arrow {
  border-bottom: 7px solid var(--black-500);
}