.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;

  &:focus {
    filter: brightness(90%);
  }
}

.labelContainerLeft {
  span {
    margin-right: 0.5rem;
  }

  @extend .labelContainer;
}

.labelContainerRight {
  flex-direction: row-reverse;

  span {
    margin-left: 0.5rem;
  }

  @extend .labelContainer;
}

.labelContainerTop {
  flex-direction: column;
  align-items: flex-start;

  span {
    margin-bottom: 0.5rem;
  }

  @extend .labelContainer;
}

.labelContainerBottom {
  flex-direction: column-reverse;
  align-items: flex-start;

  span {
    margin-top: 0.5rem;
  }

  @extend .labelContainer;
}

.container {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  padding: 2px;
}

.containerActive {
  background-color: var(--green-200);
  @extend .container;
}

.containerInactive {
  background-color: var(--grey-300);
  @extend .container;
}

.toggle {
  position: sticky;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.toggleActive {
  transform: translate(20px);
  background-color: var(--green-500);
  @extend .toggle;
}

.toggleInactive {
  background-color: var(--grey-600);
  @extend .toggle;
}
