.Tab {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-500);
  transition: 200ms ease-in-out;
  color: var(--grey-800);
  letter-spacing: 0.03rem;
  font-weight: 400;
  text-transform: uppercase;
  // font-family: "Akkurat-Mono";
  font-size: 12px;
}

.Tab:hover {
  border-bottom: 1px solid var(--primary-green);
  color: var(--black-500);
}

.TabActive:hover {
  border-bottom: 1px solid var(--primary-green);
}

.TabActive {
  color: var(--primary-green);
  border-bottom: 1px solid var(--primary-green);
}