.CohubButton {
  // font-family: Akkurat-Mono;
  font-weight: lighter;
  border: none;
  border-radius: var(--default-border-radius);
  padding: 6px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  transition: all 50ms ease-in-out;
  letter-spacing: 0.05rem;

  .content-container {
    transition: all 50ms ease-in-out;
  }

  &:active {
    box-shadow: none !important;
    filter: brightness(97%);

    .button-text {
      transform: translateY(-1px);
    }
  }

  // &:focus {
  //   filter: brightness(93%);
  // }

  // &:hover {
  //   filter: brightness(97%);
  // }

  &:disabled {
    cursor: default;
    opacity: 0.4;

    &:hover {
      filter: inherit;
    }
  }
}